{% extends 'base.twig' %}

{% block title %}{{parent()}} | My Account{% endblock %}

{% block content %}
{% if not authenticated() %}
{% include 'account/login.twig' %}
{% else %}
<h1>Welcome</h1>
{% include "inc/flashes.twig" %}
{% endif %}
{% endblock %}
