<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block meta %}{% endblock %}
        <title>{% block title %}Admin{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/admin.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'dlg/delete.twig' %}
        {% include 'dlg/delete-all.twig' %}
        {% block header %}{% include "admin/inc/header.twig" %}{% endblock %}
        <div class="container-fluid">
            <div class="row">
                {% block nav %}{% include "admin/inc/nav.twig" %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block footer %}{% endblock %}
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <!-- <script type="text/javascript" src="/js/less.min.js"></script> -->
        <script type="text/javascript" src="/js/default.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
