{% extends 'base-admin.twig' %}

{% block content %}
<div class="col-sm-9">
    <div class="well">
        <h2>管理仪表板</h2>
        {# display error message if login failed #}
        {% include "inc/flashes.twig" %}
        <p>From this dashboard you can manage:</p>
        <div class="row">

        <div class="dashboard-block col-sm-6 col-md-4 col-xs-12">
            <a class="btn btn-lg btn-primary btn-block" role="button" href="/admin/accounts">Product Categories</a>
        </div>
        <div class="dashboard-block col-sm-6 col-md-4 col-xs-12">
            <a class="btn btn-lg btn-primary btn-block" role="button" href="/admin/accounts">Products</a>
        </div>
        <div class="dashboard-block col-sm-6 col-md-4 col-xs-12">
            <a class="btn btn-lg btn-primary btn-block" role="button" href="/admin/accounts">Product Specifications</a>
        </div>
        <div class="dashboard-block col-sm-6 col-md-4 col-xs-12">
            <a class="btn btn-lg btn-primary btn-block" role="button" href="/admin/accounts">Product Pictures</a>
        </div>
        <div class="dashboard-block col-sm-6 col-md-4 col-xs-12">
            <a class="btn btn-lg btn-primary btn-block" role="button" href="/admin/accounts">Product Sections</a>
        </div>
        <div class="dashboard-block col-sm-6 col-md-4 col-xs-12">
            <a class="btn btn-lg btn-primary btn-block" role="button" href="/admin/accounts">User Accounts</a>
        </div>
        <div class="dashboard-block col-sm-6 col-md-4 col-xs-12">
            <a class="btn btn-lg btn-primary btn-block" role="button" href="/admin/accounts">User Orders</a>
        </div>
        <div class="dashboard-block col-sm-6 col-md-4 col-xs-12">
            <a class="btn btn-lg btn-primary btn-block" role="button" href="/admin/accounts">Delivery Methods</a>
        </div>
        <div class="dashboard-block col-sm-6 col-md-4 col-xs-12">
            <a class="btn btn-lg btn-primary btn-block" role="button" href="/admin/accounts">Payment Methods</a>
        </div>

    </div>
</div>
{% endblock %}
