{% extends 'base.twig' %}

{% block title %}{{parent()}} | Homepage{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/catalog.css">
{% endblock %}

{% block header %}{% include 'inc/banner.twig' %}{% endblock %}

{% block content %}
<div class="container">
    {% include "inc/flashes.twig" %}
    {% include "home/carousel.twig" %}
    {% include "home/tabs.twig" %}
</div>
{% endblock %}
