{% extends 'base.twig' %}

{% block title %}{{parent()}} | Homepage{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/home.css">{% endblock %}

{% block header %}{% include 'inc/banner.twig' %}{% endblock %}

{% block content %}
{% include "inc/flashes.twig" %}
<div class="container">
    {% include "home/carousel.twig" %}
    {% include "home/tabs.twig" %}
</div>
{% endblock %}
