{% extends 'base-admin.twig' %}

{% block title %}{{parent()}} | Users{% endblock %}

{% block scripts %}
    <script src="/js/dialogues.js"></script>
    <script src="/js/check_all.js"></script>
    <script src="/js/jquery.tablesorter.min.js"></script>
    <script src="/js/tablesorter.js"></script>
{% endblock %}

{% block content %}
<div class="col-sm-9">
    <div class="well">
        <h2>用户管理</h2>
        <br>
        {% include "inc/flashes.twig" %}
        <h4>Add new users:</h4>
        <form class="form-inline" action="/admin/accounts/add-many" method="post">
            <div class="form-group">
                <a class="btn btn-primary" role="button" href="/admin/accounts/add-single">Add one</a>
                <span style="margin: 0 10px"> OR </span>
                <select class="form-control" name="yml" required>
                    <option disabled selected value="">Select YML file</option>
                    {% for file in files %}
                        <option value="{{file|name}}">{{ file|name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-primary" value="Add many">
            </div>
        </form>
    </div>
    <div class="well">
        <form action="/admin/accounts/delete" method="post">
        <table id="tableToSort_4-6" class="table table-striped">
            <thead>
                <tr>
                    <th role="button">ID</th>
                    <th role="button">Email</th>
                    <th role="button">Registered at</th>
                    <th role="button">Type</th>
                    <th></th>
                    <th></th>
                    <th role="button" class="col-sm-1 checkable" style="text-align:center">
                        <input role="button" type="checkbox" id="checkAll">
                    </th>
                </tr>
            </thead>
            <tbody id="tableTBody">
                {% for user in users %}
                    {% include "admin/inc/account.twig" %}
                {% endfor %}
            </tbody>
            <tfoot>
                <td colspan="7" style="text-align:right">
                    <input class="btn btn-sm btn-danger" type="submit" name="deleteSelected" value="Delete selected">
                </td>
            </tfoot>

        </table>
        </form>
    </div>
</div>
{% endblock %}
