{% extends 'base-admin.twig' %}

{% block title %}{{parent()}} | Categories{% endblock %}

{% block scripts %}
    <script src="/js/dialogues.js"></script>
    <script src="/js/popover.js"></script>
    <script src="/js/check_all.js"></script>
    <script src="/js/jquery.tablesorter.min.js"></script>
    <script src="/js/tablesorter.js"></script>
{% endblock %}

{% block content %}
<div class="col-sm-9">
    <div class="well">
        <h2 class="management-header">Category Management</h2>
        <div class="pull-right management-header-buttons">
            <a class="btn btn-primary" role="button" href="/admin/categories/add"><span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs hidden-sm">New category</span></a>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#resetDbModal" title="Reset database to initial state"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
        </div>
        <br>
        {% include "inc/flashes.twig" %}
    </div>
    <div class="well table-responsive">
        <form action="/admin/categories/delete" method="post">
        <table id="tableToSort_6-8" class="table table-striped">
            <thead>
                <tr>
                    <th role="button">ID</th>
                    <th role="button">Name</th>
                    <th role="button">URI</th>
                    <th role="button">Description</th>
                    <th role="button">Products</th>
                    <th role="button">Specs</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableTBody">
                {% for category in categories %}
                    {% include "admin/categories/tr-cat.twig" %}
                {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
</div>
{% endblock %}
