{% extends 'base-admin.twig' %}

{% block title %}{{parent()}} | Specs{% endblock %}

{% block scripts %}
    <script src="/js/dialogues.js"></script>
    <script src="/js/popover.js"></script>
    <script src="/js/check_all.js"></script>
    <script src="/js/jquery.tablesorter.min.js"></script>
    <script src="/js/tablesorter.js"></script>
{% endblock %}

{% block content %}
<div class="col-sm-9">
    <div class="well">
        <h2>Specification Management</h2>
        <br>
        {% include "inc/flashes.twig" %}
        <a class="btn btn-primary" role="button" href="/admin/specs/add-single">Create new</a>
    </div>
    <div class="well table-responsive">
        <form action="/admin/specs/delete" method="post">
        <table id="tableToSort_6-8" class="table table-striped">
            <thead>
                <tr>
                    <th role="button">ID</th>
                    <th role="button">Name</th>
                    <th role="button">Categories</th>
                    <th role="button">Type</th>
                    <th role="button">Values</th>
                    <th role="button">Required</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableTBody">
                {% for i in 1..10 %}
                    {% include "admin/specs/tr-spec.twig" %}
                {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
</div>
{% endblock %}
