<tr>
    <td>7</td>
    <td><img class="thumb img-responsive" src="/img/ms3.jpg" width="50" height="50"></td>
    <td>ErgoMouse 123</td>
    <td>Mice</td>
    <td class="discount?">¥250</td>
    <td>-</td>
    <td class="col-xs-1 col-xs-offset-10">
        <a class="btn btn-sm btn-primary" role="button" href="/admin/products/view/">View</a>
    </td>
    <td class="col-xs-1">
        <input class="btn btn-sm btn-danger" type="submit" name="delete" value="Delete">
    </td>
    <td class="col-xs-1 checkable" role="button">
        <input type="checkbox" name="id[]" role="button" value="product id">
    </td>
</tr>
