{% extends 'base.twig' %}

{% block title %}{{parent()}} | {{ category.name }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/catalog.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-lg-2 filter-bar hidden-xs">
        {% include "catalog/sidebar.twig" %}
        </div>
        <div class="col-sm-9 col-lg-10">
            <h1>{{ category.description }}</h1>
            <ol class="breadcrumb">
                <li><a href="#">Catalog</a></li>
                <li class="active">{{ category.name }}</li>
            </ol>
            {% include "inc/flashes.twig" %}
            <div class="row hidden-xs">
                {% include "catalog/topbar.twig" %}
            </div>
            <div class="visible-xs-block">
                {% include 'catalog/mobile-filters.twig' %}
            </div>
            <div class="row my-pagination">
                {% include "catalog/pagination.twig" %}
            </div>
            <div class="row product-cards">
                {% for product in products %}
                    {% include 'catalog/card.twig' %}
                {% endfor %}
            </div>
            <div class="row my-pagination">
                {% include "catalog/pagination.twig" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
