<div class="well" style="margin-top:20px">
    <form class="form-inline">
        <div class="form-group">
            <label>Sort by price: </label>
            <select class="form-control" name="sortBy" required>
                <option disabled selected value="">Select option</option>
                <option value="priceAsc">Low to High</option>
                <option value="priceDesc">High to Low</option>
            </select>
        </div>
        <div class="form-group col-sm-offset-1">
            <label>Group by: </label>
            <select class="form-control" name="groupBy" required>
                <option disabled selected value="">Select option</option>
                <option value="brand">Brand</option>
                <option value="color">Color</option>
            </select>
        </div>
    </form>
</div>
