{% extends 'base-admin.twig' %}

{% block title %}Add Account{% endblock %}

{% block content %}
<div class="container">
    <div class="well col-sm-6 col-sm-offset-3">
        <form method="post" action="/admin/users/add-single">
            <h2>Add User</h2>
            <br>
            {% include "inc/flashes.twig" %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required autofocus>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail address" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <label>Type</label>
            <div class="radio">
                <label>
                    <input type="radio" name="type" value="user" checked>User
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="type" value="admin"{% if type == 'admin' %} checked{% endif %}>Admin
                </label>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create new user</button>
        </form>
    </div>
</div>
{% endblock %}
