{% extends 'base-admin.twig' %}

{% block title %}Modify Account{% endblock %}

{% block content %}
<div class="container">
    <div class="well col-sm-6 col-sm-offset-2">
        <h2>Modify Account<button class="btn btn-sm btn-primary pull-right" type="reset" form="form">
            <span class="glyphicon glyphicon-refresh"></span>
            <span class="hidden-sm"> Reset form</button>
        </h2>
        <br>
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#details" data-toggle="tab">Account details</a></li>
            <li><a href="#shipping" data-toggle="tab">Shipping details</a></li>
        </ul>
        {% include "inc/flashes.twig" %}
        <form id="form" method="post" action="/admin/accounts/change/{{user.id}}">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="details">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{user.username}}" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail address" value="{{user.email}}" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Leave blank for no changes">
                    </div>
                    <label>Privileges</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="type" value="user"{% if user.type == 'user' %} checked{% endif %}>User
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="type" value="admin"{% if user.type == 'user' %} checked{% endif %}>Admin
                        </label>
                    </div>
                </div>
                <div class="tab-pane fade in" id="shipping">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Full name" value="asd" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone number" value="1231232" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea rows="4" cols="50" class="form-control" id="address" name="address" placeholder="Full address" required>asdadsdas
                        asdasds</textarea>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" form="form">Confirm changes</button>
    </div>
</div>
{% endblock %}
