<div class="col-xs-6 col-md-4 col-lg-3">
    <div class="thumbnail product-card">
        <a role="button" href="/keyboards/2">
            <img src="/uploads/ms/ms9.jpg">
        </a>
        <div class="caption">
            <h4>Vertical Grip Mouse, Optical, USB</h4>
            <div class="product-price-row">
                <span class="card-striked"><s>¥200</s></span>
                <span class="card-sale">¥100</span>
                <span class="pull-right">
                    <a href="#" class="btn btn-success" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a>
                </span>
            </div>
        </div>

    </div>
</div>
