body {
    background-color: #b4bcc2;
}

.header {
    margin-bottom: 20px;
}

.header small {
    color: #2c3e50;
}

.affix {
    top: 5px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.navbar-default {
    background-color: transparent;
}

.nav-pills>li>a {
    color: #2c3e50;
}

/* dashboard.twig block divs */
.dashboard-block {
    padding: 7px;
}

/* Table links */
table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

table a:not(.btn), .table a:not(.btn):hover {
    text-decoration: underline;
}

table tbody tr:hover {
    outline: 1px solid #2c3e50;
}

/* Uploads */
.tab-content {
    padding: 7px;
    margin-top: 30px;
}

.outline {
    outline: 3px solid #2c3e50;
}
