body {
    background-color: #b4bcc2;
}

.header {
    margin-bottom: 20px;
}

.header small {
    color: #2c3e50;
}

.management-header {
    display: inline-block;
}

.management-header-buttons {
    margin-top: 14px;
}

.management-header-buttons + .alert {
    margin-top: 8px;
    margin-bottom: 0px;
}

.affix {
    top: 5px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* Sidebar nav */
.navbar-default {
    background-color: transparent;
}

.nav-pills>li>a {
    color: #2c3e50;
}

/* dashboard.twig block divs */
.dashboard-block {
    padding: 7px;
}

/* Tables */
table>tbody>tr>td.checkable, .checkable {
    text-align: center;
    padding: 15px;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

table a:not(.btn), .table a:not(.btn):hover {
    text-decoration: underline;
}

table tbody tr:hover {
    outline: 1px solid #2c3e50;
}

table tfoot td {
    text-align: right;
}

.thumb {
    margin: -3px 0;
}

/* Tabs */
.nav-tabs>li>a {
    background-color: #ecf0f1;
}

form > div.tab-content {
    margin-top: 20px;
}

@media (min-width: 768px) {
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    background-color: #ecf0f1;
    border: 1px solid #2c3e50;
    border-bottom-color: #ecf0f1;
}}

.nav-tabs.nav-justified>li>a {
    color: #2c3e50;
}

.nav-tabs.nav-justified>li>a:hover {
    text-decoration: none;
    background-color: #95a5a6;
}

@media (min-width: 768px) {
.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #2c3e50;
}}

/* Outline for selected pictures */
.outline {
    outline: 3px solid #2c3e50;
}

/* Product view */
#price, #discount, #discountedPrice {
    width: 102px;
}

#price, #discount {
    margin-right: 10px;
}

/* Uploads */
.tab-content {
    padding: 7px;
    margin-top: 30px;
}

table .btn {
    min-width: 65px;
}
