/* Colors
blue:  #2c3e50
green: #18bc9c
grey:  #95a5a6

¥
*/

.product-cards, .picture-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.product-cards > [class*='col-'],  .picture-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* Cursor pointers */
a, input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
}

.form-inline > label, .form-group > label {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Chrome and Opera */
}

/* Textarea only resizable virtically */
textarea { resize: vertical; }
