<ul class="nav nav-tabs nav-justified">
    {% for section in sections %}
    <li{% if loop.first %} class="active"{% endif %}><a href="#{{section.uri}}" data-toggle="tab">{{section.name}}</a></li>
    {% endfor %}
</ul>
<div id="myTabContent" class="tab-content">
    {% for section in sections %}
    <div class="tab-pane fade in{% if loop.first %} active{% endif %}" id="{{section.uri}}">
        <div class="row product-cards">
            {% for product in section.products %}
                {% if loop.index0 < 3 %}
                    {% include 'catalog/card.twig' %}
                {% endif %}
            {% endfor %}
            {% include 'catalog/card-more.twig' %}
        </div>
    </div>
    {% endfor %}
</div>
