<div class="well col-sm-5 col-sm-offset-2">
    <form class="form-signin" method="post" action="/account/login">
        <h2 class="form-signin-heading">Sign in</h2>
        <input type="email" name="email" class="form-control" placeholder="E-mail address"{% if email %}value="{{email}}"{% endif %} required autofocus>
        <br>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
