<div class="container">
    <div class="well col-sm-6 col-sm-offset-3">
        <form class="form-signin" method="post" action="/account/login">
            <h2 class="form-signin-heading">Sign in<small class="pull-right"><a href="/account/register">Not registered yet?</a></small></h2>
            {% include "inc/flashes.twig" %}
            <input type="email" name="email" class="form-control" placeholder="E-mail address"{% if email %}value="{{email}}"{% endif %} required autofocus>
            <br>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>
