<tr>
    <td>4</td>
    <td>Post</td>
    <td>Send product using regular post service.</td>
    <td>¥10</td>
    <td class="col-xs-1 col-xs-offset-10">
        <a class="btn btn-sm btn-primary" role="button" href="/admin/deliveries/view/">View</a>
    </td>
    <td class="col-xs-1">
        <input class="btn btn-sm btn-danger" type="submit" name="delete" value="Delete">
    </td>
</tr>
