<footer>
    <div id="footer" class="container">
        <div class="row hidden-xs hidden-sm">
            <div class="col-sm-2 col-sm-offset-1">
                <div class="footer-menu">
                    <a href="#">Catalog</a>
                </div>
                <div class="footer-item">
                    <a href="#">Mice</a>
                </div>
                <div class="footer-item">
                    <a href="#">Keyboards</a>
                </div>
                <div class="footer-item">
                    <a href="#">Accessories</a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="footer-menu">
                    <a href="#">Products</a>
                </div>
                <div class="footer-item">
                    <a href="#">Featured</a>
                </div>
                <div class="footer-item">
                    <a href="#">New Arrivals</a>
                </div>
                <div class="footer-item">
                    <a href="#">Best Sellers</a>
                </div>
                <div class="footer-item">
                    <a href="#">On Sale</a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="footer-menu">
                    <a href="#">My Account</a>
                </div>
                <div class="footer-item">
                    <a href="#">View Orders</a>
                </div>
                <div class="footer-item">
                    <a href="#">Change Address</a>
                </div>
                <div class="footer-item">
                    <a href="#">Change Password</a>
                </div>
                <div class="footer-item">
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="footer-menu">
                    <a href="#">Information</a>
                </div>
                <div class="footer-item">
                    <a href="#">Delivery Methods</a>
                </div>
                <div class="footer-item">
                    <a href="#">Payment Methods</a>
                </div>
                <div class="footer-item">
                    <a href="#">Customer Agreement</a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="footer-menu">
                    <a href="#">Contact Us</a>
                </div>
                <div class="footer-item">
                    <a href="#">About</a>
                </div>
                <div class="footer-item">
                    <a href="#">Contacts</a>
                </div>
                <div class="footer-item">
                    <a href="#">Feedback</a>
                </div>
            </div>
        </div>
        <div class="row hidden-md hidden-lg">
            <div class="col-xs-4 col-xs-offset-2">
                <div class="footer-menu">
                    <a href="#">Information</a>
                </div>
                <div class="footer-item">
                    <a href="#">Delivery Methods</a>
                </div>
                <div class="footer-item">
                    <a href="#">Payment Methods</a>
                </div>
                <div class="footer-item">
                    <a href="#">Customer Agreement</a>
                </div>
            </div>
            <div class="col-xs-4 col-xs-offset-1">
                <div class="footer-menu">
                    <a href="#">Contact Us</a>
                </div>
                <div class="footer-item">
                    <a href="#">About</a>
                </div>
                <div class="footer-item">
                    <a href="#">Contacts</a>
                </div>
                <div class="footer-item">
                    <a href="#">Feedback</a>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="col-xs-offset-1 hidden-xs hidden-sm">
                <p>&copy; ErgoStore 2017</p>
            </div>
            <div class="col-xs-offset-2 hidden-md hidden-lg">
                <p>&copy; ErgoStore 2017</p>
            </div>
        </div>
    </div>
</footer>
