<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Goldtouch Semi-Vertical Mouse Wireless</div>
    <div class="panel-body">
        <!-- <span class="img-aligner"></span> -->
        <img src="/img/ms3.jpg" class="img-responsive">
    </div>
    <div class="panel-footer">
        <span class="label label-primary">¥ 220</span>
        <span id="buyBtn">
            <a class="label label-success" role="button" href="#">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Buy
            </a>
        </span>
    </div>
  </div>
</div>
