<tr>
    <td>12</td>
    <td>Mice</td>
    <td>Ergonomic mice for all.</td>
    <td>24</td>
    <td>8</td>
    <td class="col-xs-1 col-xs-offset-10">
        <a class="btn btn-sm btn-primary" role="button" href="/admin/categories/view/">View</a>
    </td>
    <td class="col-xs-1">
        <input class="btn btn-sm btn-danger" type="submit" name="delete" value="Delete">
    </td>
</tr>
