<div class="clearfix">
    <img class="xzoom img-responsive center-block" src="/img/kb2.jpg" xoriginal="/img/kb2.jpg">
</div>
<div class="xzoom-thumbs">
    <a href="/img/kb2.jpg">
        <img class="xzoom-gallery" width="80" src="/img/kb2.jpg">
    </a>
    <a href="/img/kb2_2.jpg">
        <img class="xzoom-gallery" width="80" src="/img/kb2_2.jpg">
    </a>
    <a href="/img/kb2_3.jpg">
        <img class="xzoom-gallery" width="80" src="/img/kb2_3.jpg">
    </a>
</div>
