<div class="well">
    <h4>Price</h4>
    <div class="form-inline">
        <div class="form-group">
            <label>Min&nbsp;</label>
            <input type="number" id="priceMin" class="form-control" name="priceMin" min="0" max="1000" step="10" value="100">
        </div>
        <div class="form-group">
            <label>Max</label>
            <input type="number" id="priceMax" class="form-control" name="priceMax" min="0" max="1000" step="10" value="1000">
        </div>
    </div>
</div>
<div class="well">
    <h4>Brand</h4>
    <div class="form-inline">
        <input type="checkbox">
        <label>Goldtouch</label>
    </div>
    <div class="form-inline">
        <input type="checkbox">
        <label>Matias</label>
    </div>
    <div class="form-inline">
        <input type="checkbox" checked>
        <label>Microsoft</label>
    </div>
    <div class="form-inline">
        <input type="checkbox" checked>
        <label>Truly Ergonomic</label>
    </div>
    <div class="form-inline">
        <input type="checkbox" checked>
        <label>Perixx</label>
    </div>
</div>
<div class="well">
    <h4>Connection</h4>
    <div class="form-inline">
        <input type="checkbox" checked>
        <label>USB</label>
    </div>
    <div class="form-inline">
        <input type="checkbox" checked>
        <label>Wireless</label>
    </div>
</div>
<div class="well">
    <h4>Color</h4>
    <div class="form-inline">
        <input type="checkbox" checked>
        <label>Black</label>
    </div>
    <div class="form-inline">
        <input type="checkbox">
        <label>Grey</label>
    </div>
    <div class="form-inline">
        <input type="checkbox">
        <label>White</label>
    </div>
    <div class="form-inline">
        <input type="checkbox">
        <label>Other</label>
    </div>
</div>
<div class="">
    <form action="" method="post">
        <input type="hidden" name="dummy" value="1">
        <button class="btn btn-primary btn-block" type="submit">Filter</button>
    </form>
</div>
