<tr>
    <td>{{ payment.id }}</td>
    <td>{{ payment.name }}</td>
    <td>{{ short(payment.description, 80) }}</td>
    <td class="col-xs-1 col-xs-offset-10">
        <a class="btn btn-sm btn-primary" role="button" href="/admin/payments/view/{{payment.id}}" disabled>View</a>
    </td>
    <td class="col-xs-1">
        <input class="btn btn-sm btn-danger" type="submit" name="delete" value="Delete" disabled>
    </td>
</tr>
